# **APA - Data Preparation **
## **DATA 3300**

## **Name(s): Oliver Heady**

### **Read and follow these assignment instructions carefully! Ordinarily, we’d jump into cleansing data as needed and we’d each do it slightly differently. This is difficult to grade, so please go in the order of this document and follow these instructions.**

**For this assignment students should submit one notebook and one clean, sorted Excel file. See the assignment background for attribute descriptions and the assignment requirements link on the Canvas assignment page.**

## **Q1** 

**What does the term “data quality” refer to and why is it important within the context of using data to solve business problems?**

### *Data Quality refers to the data's usefulness; namely its consistency, completeness, accuracy, timeliness, and uniqueness. If the data isn't properly "clean", it could provide the wrong insights or no insights at all.*

##**Q2**

**The lecture and textbook discussed five characteristics of data quality: accuracy, completeness, consistency, timeliness, and uniqueness. While “accuracy” in this dataset is hard for us to gauge without further inquiry and“timeliness” kind of depends on what it is the data are to be used for, there are clear examples of problems with each of the other three characteristics.**

**For each of the other three (completeness, consistency, uniqueness), identify a specific situation within the hbdata-orig.csvdataset (identify record numbers when applicable). Hint: For uniqueness, look at the VisitSpan attribute.Be sure your answers areclearly labelled and described.**

**This can be done viewing the data in Excel or importing it into Python. If using Python, begin by importing your libraries and then read in the .csv file.**

In [1]:
#importing pandas
import pandas as pd
#importing numpy
import numpy as np

from datetime import datetime #need this method to convert a variable to date-time later in the assignment
import warnings
warnings.filterwarnings("ignore") #this can be removed but will help the code be a little cleaner by ignoring warnings

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#importing the dataset using pd.read_csv because it's a .csv file, not an excel file
df = pd.read_csv("/content/drive/MyDrive/DATA 3300/Data Prep/hbdata-orig.csv")

pd.set_option("display.max_rows", None, "display.max_columns", None) #View full dataframe
df.head()

,VisitID,BirdName,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Amount,Unnamed: 10
0,2203,Mitz Johnson,Rufous,M,female,7/16/17,07:27:24.05-07:27:52.78,Back Patio,no,17 ml,NaN
1,2204,Horace Prefect,Calliope,M,male,7/16/17,07:45:07.65-07:45:17.97,NE Corner,yes,6 ml,0.31
2,2205,Edeltraud McKnight,Rufous,M,female,7/16/17,08:09:52.10-08:10:22.74,Deck 2,no,5 ml,NaN
3,2206,Herbert McKnight,Rufous,M,male,7/16/17,08:41:54.07-08:42:07.48,Deck 1,yes,2 ml,NaN
4,2207,Walpurga Schwalbe,Anna's,M,female,7/16/17,09:18:59.33-09:19:13.41,Garage,yes,3 ml,NaN

Completeness: missing values in record 6, 191, 204. Record 41 has values in teh wrong columns

Consistency: oz used in records 33, 36, 39 ect. (instead of mL)

Uniqueness: may be duplicate entries?

## **Q3**

**Answer the following questions regarding the importance of each of the named data scrubbing steps. (15 points)**

### **3A** 
**What negative outcome would likely occur during data analysis if duplicated visits were not removed (consolidated)?**

The duplicated records would have extra weight in the statistical analysis, rendering the data less accurate.

### **3B**

**What negative outcome would likely occur during data analysis if Location entries were not standardized?**

If the location entries weren't standardized, it would lead to extra locations in the table, meaning you wouldn't get an accurate view of what birds are visiting a specific location.

### **3C**

**What negative outcome would likely occur during data analysis if, due to measurement issues, amount eaten values were not consistent?**

If the amount eaten values weren't consistent, it would create inaccurate outliers in the data and make it less trustworthy.

## **Q4**

**In scrubbing the data, you should address each of the following. It’s recommended to go through this assignment in the order of steps below.**

### 4A

In Python trim all columns to ensure that there are no leading or trailing spaces on any of the data values. If you still see two seemingly identical entries, remember that trimming does not trim internal spcaes between two words.

In [6]:
df_obj = df.select_dtypes(['object']) #select all columns containing text (of type object)
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip()) #trim all selected columns


#code for viewing first few observations in dataset (hint: heading)
df.head()

,VisitID,BirdName,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Amount,Unnamed: 10
0,2203,Mitz Johnson,Rufous,M,female,7/16/17,07:27:24.05-07:27:52.78,Back Patio,no,17 ml,NaN
1,2204,Horace Prefect,Calliope,M,male,7/16/17,07:45:07.65-07:45:17.97,NE Corner,yes,6 ml,0.31
2,2205,Edeltraud McKnight,Rufous,M,female,7/16/17,08:09:52.10-08:10:22.74,Deck 2,no,5 ml,NaN
3,2206,Herbert McKnight,Rufous,M,male,7/16/17,08:41:54.07-08:42:07.48,Deck 1,yes,2 ml,NaN
4,2207,Walpurga Schwalbe,Anna's,M,female,7/16/17,09:18:59.33-09:19:13.41,Garage,yes,3 ml,NaN

### 4B

Ensure each bird’s first and last name should be included in separate fields (columns).

In [7]:
#create new split columns for first and last name
df[['birdfirstname', 'birdlastname']] = df['BirdName'].str.split(' ', expand = True)

#drop birdname column
df = df.drop(['BirdName'], axis=1)

#show df heading
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Amount,Unnamed: 10,birdfirstname,birdlastname
0,2203,Rufous,M,female,7/16/17,07:27:24.05-07:27:52.78,Back Patio,no,17 ml,NaN,Mitz,Johnson
1,2204,Calliope,M,male,7/16/17,07:45:07.65-07:45:17.97,NE Corner,yes,6 ml,0.31,Horace,Prefect
2,2205,Rufous,M,female,7/16/17,08:09:52.10-08:10:22.74,Deck 2,no,5 ml,NaN,Edeltraud,McKnight
3,2206,Rufous,M,male,7/16/17,08:41:54.07-08:42:07.48,Deck 1,yes,2 ml,NaN,Herbert,McKnight
4,2207,Anna's,M,female,7/16/17,09:18:59.33-09:19:13.41,Garage,yes,3 ml,NaN,Walpurga,Schwalbe

### 4C
Ensure that data values are standardized in each column (pay particular attention to the textual columns, BirdName, BirdType, BirdSize, Gender, Location, and Hoverfeed) so that each “idea” (e.g., a species of bird) is specified (i.e., spelled) the same way. 

This can be checked for each column by using the .value_counts() method! After applying the standarization, show that the correction has been made by using the .value_counts() method to display all categories for each column of interest.

In [8]:
#Examine levels in BirdType using the value_counts() method
df['BirdType'].value_counts()

Rufous      95
Anna's      78
Calliope    51
Rufus        5
Prefect      2
Name: BirdType, dtype: int64

In [9]:
#replace redundant values in BirdType
df = df.replace(['Rufus'], ['Rufous'])

In [10]:
df['BirdType'].value_counts()

Rufous      100
Anna's       78
Calliope     51
Prefect       2
Name: BirdType, dtype: int64

In [11]:
#examine levels of BirdSize
df['BirdSize'].value_counts()

M         147
S          38
L          27
XL         17
medium      8
            1
20 ml       1
Name: BirdSize, dtype: int64

In [12]:
#replace redundant values in BirdSize
df = df.replace(['medium'], ['M'])
df['BirdSize'].value_counts()

M        155
S         38
L         27
XL        17
           1
20 ml      1
Name: BirdSize, dtype: int64

In [13]:
#examine levels of location
df['Location'].value_counts()

Back Patio                 64
Deck 2                     50
Deck 1                     38
NE Corner                  34
Garage                     29
Entry                      22
13:14:33.36-13:15:09.25     1
Deck. 2                     1
Back  Patio                 1
15:16:40.19-15:16:55.98     1
Name: Location, dtype: int64

In [14]:
#replace redundant values of Location
df = df.replace(['Deck. 2', 'Back  Patio'], ['Deck 2', 'Back Patio'])
df['Location'].value_counts()

Back Patio                 65
Deck 2                     51
Deck 1                     38
NE Corner                  34
Garage                     29
Entry                      22
13:14:33.36-13:15:09.25     1
15:16:40.19-15:16:55.98     1
Name: Location, dtype: int64

### 4D
The amount eaten is very important to our analysis. Where this value is null (blank), omit the record. Note that values of 0 are not the same as null. Retain (don’t delete) the records where the value of Amount is 0. Other issues with this attribute will be addressed later.

Before removing missing columns first examine the length of the dataset currently using the len() method. Then split the *Amount* column into two columns, *Amount_Eat* and *Unit*. Finally, change *Amount_Eat* to a float object using pd.to_numeric().

Once missing values are dropped, view the length of the dataset again using the len() method to see how many observations were dropped.

In [15]:
len(df) #return length of dataframe (i.e., number of rows)

241

In [19]:
#create new split columns for 'Amount_Eat' and 'Unit' from the 'Amount' column
df[['Amount_Eat', 'Unit']] = df['Amount'].str.split(' ', expand = True)
#drop 'Amount' column
df = df.drop(['Amount'], axis=1)
#view heading of dataframe (df.head())
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Unnamed: 10,birdfirstname,birdlastname,Amount_Eat,Unit
0,2203,Rufous,M,female,7/16/17,07:27:24.05-07:27:52.78,Back Patio,no,NaN,Mitz,Johnson,17,ml
1,2204,Calliope,M,male,7/16/17,07:45:07.65-07:45:17.97,NE Corner,yes,0.31,Horace,Prefect,6,ml
2,2205,Rufous,M,female,7/16/17,08:09:52.10-08:10:22.74,Deck 2,no,NaN,Edeltraud,McKnight,5,ml
3,2206,Rufous,M,male,7/16/17,08:41:54.07-08:42:07.48,Deck 1,yes,NaN,Herbert,McKnight,2,ml
4,2207,Anna's,M,female,7/16/17,09:18:59.33-09:19:13.41,Garage,yes,NaN,Walpurga,Schwalbe,3,ml

In [20]:
df['Amount_Eat'] = df['Amount_Eat'].apply(pd.to_numeric, errors='coerce') #convert Amount_Eat column variable dtype from object to float

In [21]:
#retain only observations that don't have NaNs for the 'Amount_Eat' column
df = df[df['Amount_Eat'].notna()]
#check the new length of the dataset
len(df)

236

### 4E

Ensure that each visit is unique. In other words, no visit should be recorded more than once (duplicated). Remove duplicates from the VisitSpan column  using the drop_duplicates() method.

Then use the len() method to show how many observations were dropped.

In [22]:
df = df.drop_duplicates(subset=['VisitSpan']) #drop duplicate records from the 'VisitSpan' column

#check the new length of the dataset
len(df)

232

### 4F
Split the VisitSpan column into two columns: rename them StartTime and EndTime.

Then ensure that both time columns are set as datetime objects by using the pd.to_datetime() method.

In [23]:
#split 'VisitSpan' based on the '-' delimiter, create a StartTime and EndTime column 
df[['StartTime', 'EndTime']] = df['VisitSpan'].str.split('-', expand = True) #use for /

df['StartTime'] = pd.to_datetime(df['StartTime'], format='%H:%M:%S.%f') #convert StartTime to hours:minutes:seconds format
df['EndTime'] = pd.to_datetime(df['EndTime'], format='%H:%M:%S.%f') #convert EndTime to hours:minutes:seconds format

#drop the 'VisitSpan' column
df = df.drop(['VisitSpan'], axis=1)

#view df heading
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,birdfirstname,birdlastname,Amount_Eat,Unit,StartTime,EndTime
0,2203,Rufous,M,female,7/16/17,Back Patio,no,NaN,Mitz,Johnson,17.0,ml,1900-01-01 07:27:24.050,1900-01-01 07:27:52.780
1,2204,Calliope,M,male,7/16/17,NE Corner,yes,0.31,Horace,Prefect,6.0,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970
2,2205,Rufous,M,female,7/16/17,Deck 2,no,NaN,Edeltraud,McKnight,5.0,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740
3,2206,Rufous,M,male,7/16/17,Deck 1,yes,NaN,Herbert,McKnight,2.0,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480
4,2207,Anna's,M,female,7/16/17,Garage,yes,NaN,Walpurga,Schwalbe,3.0,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410

### 4G
Some recordings of Amount appear to have been made in ounces rather than in milliliters. All of them should be in milliliters. Convert those in ounces to milliliters (1 oz. = 29.57 ml).

Start by subsetting the data to only those observations containing oz, then apply the conversion to the *Amount_Eat* column and replace the values in the *Unit* column with ml.

In [24]:
df_oz = df[df['Unit'] == 'oz'] #subset dataset to only contain oz
df_oz['Amount_Eat'] = 29.57*df['Amount_Eat'] #apply conversion formula
df_oz['Unit'] = df_oz['Unit'].replace('oz', 'ml') #replace oz with ml
df_oz.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,birdfirstname,birdlastname,Amount_Eat,Unit,StartTime,EndTime
33,2236,Anna's,S,female,7/17/17,Back Patio,no,NaN,Petunia,O'Flaherty,0.00000,ml,1900-01-01 17:01:37.830,1900-01-01 17:02:00.030
36,2239,NaN,M,female,7/18/17,Deck 1,yes,NaN,Francine,Johnson,7.92476,ml,1900-01-01 09:02:56.800,1900-01-01 09:03:28.740
39,2242,Rufous,M,male,7/18/17,Deck 2,yes,NaN,Lucky,Kim,0.14785,ml,1900-01-01 12:02:30.950,1900-01-01 12:03:00.410
99,2302,Rufous,L,female,7/21/17,Back Patio,yes,NaN,Rose,Kim,12.47854,ml,1900-01-01 12:54:14.400,1900-01-01 12:54:35.650
105,2308,Anna's,L,male,7/21/17,NE Corner,no,NaN,King,Schwalbe,6.38712,ml,1900-01-01 19:12:52.240,1900-01-01 19:13:18.720

###**4H** 

**Next, you'll combine your original dataframe with the new subset dataframe using the concat() method. Finally, drop rows containing 'oz' in the *Unit* column.**

**Make sure you have the correct number of observations still by using the len() method.**

In [25]:
frames = [df, df_oz] 
df = pd.concat(frames) #combine the original df with your new subsetted df
df = df[df.Unit != 'oz'] #remove rows containing oz


#length of dataframe
len(df)

232

### 4I

Createa new column, called “IsFemale”. This column should include a 1 if the hummingbird that made the visit is female, or 0 if the hummingbird is male.

In [37]:
#create new column called IsFemale using the np.where method
df['IsFemale'] = np.where(df['Gender'] == 'female',1,0)

### 4J
Create a new column called Duration, which includes the duration of the visit in seconds. Creat this column from the *StartTime* and *EndTime* columns then convert to seconds using dt.total_seconds().

In [28]:
df['Duration'] = df['EndTime'] - df['StartTime'] #create new 'Duration' column by subtracting StartTime from EndTime

In [39]:
df['Duration'] = df['Duration'].dt.total_seconds() #convert 'Duration' to seconds
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,birdfirstname,birdlastname,Amount_Eat,Unit,IsFemale,Duration
0,2203,Rufous,M,female,7/16/17,Back Patio,no,NaN,Mitz,Johnson,17.0,ml,1,28.73
1,2204,Calliope,M,male,7/16/17,NE Corner,yes,0.31,Horace,Prefect,6.0,ml,0,10.32
2,2205,Rufous,M,female,7/16/17,Deck 2,no,NaN,Edeltraud,McKnight,5.0,ml,1,30.64
3,2206,Rufous,M,male,7/16/17,Deck 1,yes,NaN,Herbert,McKnight,2.0,ml,0,13.41
4,2207,Anna's,M,female,7/16/17,Garage,yes,NaN,Walpurga,Schwalbe,3.0,ml,1,14.08

In [30]:
#drop the StartTime and EndTime columns
df = df.drop(['StartTime', 'EndTime'], axis=1)

### 4K

View the full dataset, to spot check your cleaned data and address any remaining issues you notice.

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None) #view full dataframe
df

In [41]:
#remove any remaining unwanted columns
df = df.drop(['Unnamed: 10'], axis=1)
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,birdfirstname,birdlastname,Amount_Eat,Unit,IsFemale,Duration
0,2203,Rufous,M,female,7/16/17,Back Patio,no,Mitz,Johnson,17.0,ml,1,28.73
1,2204,Calliope,M,male,7/16/17,NE Corner,yes,Horace,Prefect,6.0,ml,0,10.32
2,2205,Rufous,M,female,7/16/17,Deck 2,no,Edeltraud,McKnight,5.0,ml,1,30.64
3,2206,Rufous,M,male,7/16/17,Deck 1,yes,Herbert,McKnight,2.0,ml,0,13.41
4,2207,Anna's,M,female,7/16/17,Garage,yes,Walpurga,Schwalbe,3.0,ml,1,14.08

## Q5 

When you’re finished cleaning the datafile, sort the file by Visit ID (low to high), then save the cleaned file as an Excel document for submission via Canvas.

In [42]:
#set index to VisitID
df = df.set_index('VisitID')

#sort the index low to high
df = df.sort_index() #sorts in descending order
df = df.sort_index(ascending = True)

In [45]:
#export your cleaned Excel file for submission, along with your notebook
#For Google Colab
from google.colab import files 
df.to_excel("cleaned_data_HB.xlsx")
files.download("cleaned_data_HB.xlsx")